*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Inter', sans-serif;
    max-width: 1240px;
    min-width: 300px;
    font-size: 15px;
}
.main{
    background-color: #fff;
   
}
/* 
////////////////////////////////// */



.nav-menu-dropdown{
    display: none;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 65%;
   background-color:#fff;
   box-shadow: -1px -1px 7px 1px rgba(0,0,0,0.42)
}
.nav-menu-drop{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-menu-drop li{
    margin-bottom: 20px;
}
.nav-menu-drop li a{
    justify-content: center;
    padding: 20px;
    color: #00001a;
    text-decoration: none;
    
}
.nav-menu-drop li a:hover{
    color: #f15e50;
}

.drop-close{
    display: flex;
    justify-content: end;
    padding: 20px;
    margin-bottom: 60px;
}

/* nav bar stylings */
.nav-bar{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav-menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-menu li{
    margin-left: 10px;
}
.nav-menu li a{
    color: #b0b1b8;
    text-decoration: none;
}
.nav-menu li a:hover{
    color: #f15e50;
}



/* 
  /////////////////////////////////// */

.main{
    padding: 15px;
}

  .img-txt .img-part{
    background-image: url(./assets/images/image-web-3-mobile.jpg);
    background-size: cover;
    height: 350px;
    margin: 5px 0px 20px 0px;
}

.text-part h1{
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 2.8rem;
    line-height: 3rem;
}
.text-part p{
    margin-right: 10px;
    color: #b0b1b8;
    font-weight: 400;
    line-height: 1.7rem;
}

.btn-top{
    margin-top: 20px;
    border: none;
    padding: 10px 35px;
    background-color: #f15e50;
    color: white;
    font-size: large;
    margin-bottom: 20px;
}

.btn-top:hover{
    background-color: #00001a;
}
/* 
//////////////////////////////// */

.details-card{
 display: flex;
flex-direction: column;
justify-content: space-between;
background-color:#00001a;
padding: 15px;
color: white;
}
.details-card h2{
    color: #e9ab53;
    font-size: 2rem;
    margin: 10px 0px 10px 0px;
}

.details-card h4{
    margin: 20px 0px 10px 0px;
}

.details-card p{
    line-height: 2rem;
    margin-bottom: 20px;
}
.details-card h4:hover{
    color: #e9ab53;
}
/* 
///////////////////////////////////// */

.bottom-cards{
    display: flex;
    flex-direction: column;
    
    margin-top: 10px;
    width: 100%;
    
}
.small-card{
    display: flex;
    margin: 10px 0px 10px 0px;
    text-overflow:hidden;
   
}
.small-card .img-card{
    margin-right: 20px;
   
}
.small-card .txt-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 20px;
    
}
.small-card .txt-card h4{
    font-size: 2rem;
    color: #b0b1b8;
}
.small-card .txt-card h5{
   font-size: 1.2rem;
   color: #00001a;
   

}
.small-card .txt-card p{
    line-height: 1.7rem;
    color: #b0b1b8;
    
}

.small-card .txt-card h5:hover{
    color: #f15e50;
}



/* 

/////////////////////////////////////////////// */
@media (max-width:600px){
    .nav-menu{
        display: none;
    }
    .toggle {
        cursor: pointer;
        height: 18px;
        width: 25px;
      }
    
}

@media (min-width: 650px) {
    body{
        margin: auto;
    }
    .nav-menu {
      display: flex;
      margin-left: auto;
    }
    .toggle {
        display: none;
    }
    .text-patrt-main {
        display: flex;
    }
    .text-patrt-main h4,.btn-part {
        flex-basis: 50%;

    }

    .img-txt .img-part{
        background-image: url(./assets/images/image-web-3-desktop.jpg);
        margin-right: 10px;
        margin-top: 0;
    }
    .top-cards{
        display: flex;
    }
    .top-cards .img-txt{
        flex-basis: 70%;
    }
    .top-cards .details-card{
        flex-basis: 30%;
    }
    .bottom-cards{
        flex-direction:row;
    }
    .bottom-cards .card3{
       margin-left: 70px;
  }
  
}

































/* 
  @media (max-width:450px){
    .nav-menu{
        display: none;
    }
    .toggle {
        cursor: pointer;
        height: 18px;
        width: 25px;
      }
    
}

@media (min-width: 450px) {
    .nav-menu {
      display: flex;
      margin-left: auto;
    }
    .toggle {
        display: none;
    }
  } */